[submodule "FederatedSidechains"]
	path = FederatedSidechains
	url = https://github.com/masterhash-us/FederatedSidechains

[submodule "BulwarkBitcoinFullNode"]
	path = BulwarkBitcoinFullNode
	url = https://github.com/masterhash-us/BulwarkBitcoinFullNode
